<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>

AuthUserFile /homepages/34/d715315735/htdocs/TO52/restricted/.htpasswd
AuthName "Password Protected Area"
AuthType Basic
require valid-user

DirectoryIndex /dashboard.php

ErrorDocument 403 "Access denied"
ErrorDocument 404 /
ErrorDocument 401 "Authentication failed"